{% load wagtailcore_tags static %}

<header class="site-header">
  <div class="logo">
    <a href="/">
      <img src="{% static 'img/logo_3.png' %}" alt="Logo schilderen met Sabine">
    </a>
  </div>
  <nav class="main-nav">
    <ul>
      <li>

        {% if self.is_root %}
          <a href="/" class="active">Home</a>
        {% else %}
          <a href="/" class="{% if self.url == '/' %}active{% endif %}">Home</a>
        {% endif %}
      </li>
      {% with root=self.get_site.root_page %}
        {% for page in root.get_children.live.in_menu %}
          <li>
            <a href="{{ page.url }}" class="{% if page.url in self.url %}active{% endif %}">
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      {% endwith %}
    </ul>

    
    
  
  
  </nav>
</header>
