{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
<section class="workshops">
  <h1>{{ page.title }}</h1>
  <p>{{ page.intro|richtext }}</p>
          <div class="whatsapp-block">
            
            <p>
            <a aria-label="Chat on WhatsApp" href="https://wa.me/31647240866?text=Hallo%20ik%20heb%20een%20vraag%20over%20de%20workshops%20">
                    <strong>Heb je vragen?</strong> App ons gerust!                    
                <!-- WhatsApp icon -->
            <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="#fafafa"  stroke=" #075E54"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
            </a>
            </p>
        </div>

  <table>
    <thead>
      <tr>
        <th>Workshop</th>
        <th>Locatie</th>
        <th>Datum</th>
        <th>Status</th>
        <th></th> {# voor een "meer info"-link #}
      </tr>
    </thead>
    <tbody>
      {% for workshop in workshops %}

      {% with workshop.specific as w %}
      <tr>
        <td>{{ w.title }}</td>
        <td>{{ w.location }}</td>
        <td>
          {% for sessie in w.sessions %}
          <div>
            {{ sessie.value.date }}
            <!-- check if time is set -->
            {% if sessie.value.time %}
            om {{ sessie.value.time }}
            {% endif %}

          </div>
          {% endfor %}
        </td>
        <td>{{ w.get_display_status }}</td>
        <td><a href="{{ w.url }}">Meer info</a></td>
      </tr>
      {% endwith %}
      {% empty %}
      <tr>
        <td colspan="5">Geen workshops gevonden.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>

<section>
  <div class="card-grid">
    {% for workshop in workshops %}
    {% with workshop.specific as w %}
    <article class="card">
      <h3>{{ w.title }}</h3>
      {% if w.workshop_image %}
      {% image w.workshop_image fill-400x250 as img %}
      <img src="{{ img.url }}" alt="{{ img.alt }}">
      {% endif %}
      <div class="card-content">
        {% for sessie in w.sessions %}
        <div>
          {{ sessie.value.date }}
          <!-- check if time is set -->
          {% if sessie.value.time %}
          om {{ sessie.value.time }}
          {% endif %}

        </div>
        {% endfor %}
        <a href="{{ w.url }}" class="btn card-link">Meer info</a>

      </div>

    </article>
    {% endwith %}
    {% endfor %}
  </div>

</section>



{% endblock %}